.modal-container{
    height: 100vh; /*altura máxima da tela*/
    width: 100%;
    background: rgba(0, 0, 0, .5);
    top:0;
    left:0;
    position:fixed; /*elemento fica fixo*/
    z-index: 2000; /*coloca o elemento a frente, quanto maior o número, mais perto da tela em profundidade*/
    display: none; /* flex permite as propriedades abaixo*/
    align-items: center;  /*centro na vertical*/
    justify-content: center; /*centro na horizontal*/
}


.modal{
    background: white;
    padding: 40px;
    border: 10px solid #FB5;
    box-shadow: 0 0 0 10px white; /*aqui é uma sombra mas deixamos como se fosse um quadro*/
    position: relative; /*pois quero mudar o x de lugar*/
    /* min-width: 300px; */
    /*configuração abaixo é para ficar responsivo e caber nas telas mobile*/
    max-width: 400px;
    width: 80vw;
    box-sizing: border-box; /*possibilita aplicar o padding*/
}

@keyframes modal{
    from{
      opacity: 0;
      transform: translate3d(0,-30px,0);
    }
    to{
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }


  .modal-container.ativo{ /*quando modal recebe a classe ativa, muda de none pra flex, aparece na tela*/
    display:flex;
    animation: modal .5s forwards;
}


.fechar{
    position:absolute; 
    top:-50px;
    right: -30px;
    width: 50px;
    height: 50px;
    border: 4px solid white;
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, .3) ; /*deslocamento no x, deslocamento no y, borrao, cor*/
    border-radius: 50%;
    background: #E54;
    font-size: 1.2rem;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
}


.modal label{
    font-family: 'IBM Plex Mono', monospace;
    display: block;
    margin: 1rem 0 0.5rem 0;
    font-weight: bold;
}


.modal input{
    width: 100%;
    padding: 0.7rem 0 0.5rem 0 ;
    box-sizing: border-box;
}

.modal button[type="submit"]{
    background-color: #E54;
    border:none;
    border-radius: 4px;
    color: white;
    padding: .7rem 2rem ;
    font-size: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 1rem;
    font-weight: bold;
}